.container {
    padding: 10px 20px 0;

    overflow: hidden auto;
    justify-content: flex-start;
    border-radius: 0px;
    -moz-border-radius: 0px;
    display: flex;
    flex-direction: column;
}

.userMessageContaner {
    display: flex;
}

.userMessageText {
    background-color: rgb(7, 149, 249);
    overflow: visible;
    border-radius: 12px;
    -moz-border-radius: 12px;
    padding: 12px 16px 12px 16px;
    min-height: 41px;
    width: 0px;
    flex-grow: 1;
    margin-left: 12px;

    color: rgba(255,255,255,1);
}

.consiergeMessageContainer {
    margin-top: 10px;
    display: flex;
    margin-left: 30px;
margin-right: 12px;
}

.cosiergeMessageText {
    background-color: rgb(255, 255, 255);
    min-height: 41px;
    height: max-content;
    border-radius: 12px;
    padding: 12px 16px;
    opacity: 1;

    font-size: 14px;
    font-weight: 400;
    color: rgb(28, 31, 37);
    line-height: 1.4;
}