.container {
    min-width: 0px;
    max-width: 450px;
    width: calc(100% - 0px);
    min-height: 100vh;

    margin: 0 auto;

}

.content {
    padding-top: 40px;
    margin-top: 40px;

    width: 100%;
    min-height: 280px;
    height: max-content;

    border-radius: 18px;
    background-color: rgb(239, 240, 242);
}

.withoutPadding {
    padding-top: 0;
}