.title {
    margin: 0 auto;
    text-align: center;
}


.inputContainer {
    min-width: 0px;
    width: calc(100% - 0px);
    margin-top: 15px;
}

.inputContainer:nth-of-type(2) {
    margin-top: 30px;

}

.inputHeader {
    margin-bottom: 5px;
}

.button {
    margin-top: 20px;
}


.button:disabled {
    background-color: gray;
}

.errorMessage {
    margin-top: 20px;
    color: red;
}